@import url('../css/bootstrap.min.css');



body{
background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: 1400px 1330px;
    
    
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 16px;
	font-family: 'RobotoCondensed';
	overflow: hidden;
    
}


.full-box{
	margin: 0;
	padding: 0;
	width: 100%;
    box-sizing: border-box;
  
}
.cover{
	background: 50% 50% no-repeat;
	background-size: cover;
}
.text-titles{
	font-family: 'RobotoCondensedLight'
}
.breadcrumb-tabs{
	margin-bottom: 15px; 
	background-color: transparent; 
	border-bottom: 2px solid #F7F7F7;
	padding: 0;
}

.login-container{
	height: 100%;
}
.logInForm{
    margin-top: 350px;
	position: absolute;
	color: rgb(243, 239, 239);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 500px;
    width: 400px;
	padding: 15px;
	border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border-color: rgba(0, 255, 255, 0.651);
}
.logInForm p,
.logInForm label{
	color: #FFF;
    font-family: cursive;
      font-size: 10pt;
    margin-top: 5px;

}


button{
background-color: transparent;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-color: aqua;
    border: 1px solid rgba(58, 255, 247, 0.8);
    color: aqua;
    
    
}

.form-control{
background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    font-family: "Latin Modern Roman";
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color: rgba(245, 255, 255, 0.527);
}
.message1{
    color: #F7F7F7;
    font-size:50 ;
}